extends layout

block content
    div.content
        div.row.center
            div.popup
                h1= title
                    h2 Are you sure you want to delete purchase of #{purchase.spent} DKK from #{purchase.weekday}?
                        form(action=`/home/purchase/${purchase._id}/delete`, method="post")
                            button.btn(type="submit") Delete
                            a.btn.space(href=`/home/expense/${expenseId}`) Cancel